@font-face {
  font-family: 'Sink';
  src: url('https://cdn.shopify.com/s/files/1/0991/1350/0955/files/Sink.otf?v=1769060439') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1,h2 {
    font-family: 'Sink', sans-serif !important;
    font-weight: 400 !important;
    line-height: .85 !important;
}

body, .menu-list__link, span, p, li , ul, a{

    font-family: "Onest", sans-serif !important;
}



/* ==================== header css start ===================== */
.menu-list__link .menu-list__link-title,
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
.cart-icon__text {
    text-align: center;
    font-weight: 600;
    line-height: 1;
}
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
.cart-icon__text {
    text-transform: uppercase;
    margin: 0 !important;
}
.menu-list__list-item .menu-list__link {
    padding-block: 28px !important;
    padding-inline: 16px !important;
}

.menu-list__list-item:first-child .menu-list__link {
    padding-left: 48px !important;
    border-left: 1.5px solid var(--color--border);
    margin-left: 0 !important;
}

.header__columns .header__column.header__column--left {
    gap: 48px;
}

cart-drawer-component.cart-drawer {
    display: flex;
    align-items: center;
}

header-actions {
    display: flex;
    gap: 20px;
}

.header-actions__action {
    padding: 0 !important;
}

.header__column--right header-actions {
    padding-block: 28px;
    padding-inline: 20px;
    border-left: 1.5px solid var(--color--border);
    border-right: 1.5px solid var(--color--border);
}

.header .header__columns {
    padding: 0 !important;
    align-items: center;
}

.header__column .header-logo {
    margin-top: -12px;
}

.f_block_hero_section .block_custom_button {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.3px;
}