@font-face {
  font-family: 'Sink';
  src: url('https://cdn.shopify.com/s/files/1/0991/1350/0955/files/Sink.otf?v=1769060439') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1,h2 {
    font-family: 'Sink', sans-serif !important;
    font-weight: 400 !important;
    line-height: .85 !important;
}

body, .menu-list__link, span, p, li , ul, a{

    font-family: "Onest", sans-serif !important;
}



/* ==================== header css start ===================== */
.menu-list__link .menu-list__link-title,
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
search-button button.search-modal__button .menu-list__link-title,
.cart-icon__text {
    text-align: center;
    font-weight: 600;
    line-height: 1;
}
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
search-button .menu-list__link-title ,
.cart-icon__text {
    text-transform: uppercase;
    margin: 0 !important;
}
search-button button.search-modal__button{
    gap: 6px;
}
.menu-list__list-item .menu-list__link {
    padding-block: 28px !important;
    padding-inline: 16px !important;
}

.menu-list__list-item:first-child .menu-list__link {
    padding-left: 48px !important;
    border-left: 1.5px solid var(--color--border);
    margin-left: 0 !important;
}

.header__columns .header__column.header__column--left {
    gap: 48px;
}

cart-drawer-component.cart-drawer {
    display: flex;
    align-items: center;
}

header-actions {
    display: flex;
    gap: 20px;
}

.header-actions__action {
    padding: 0 !important;
}

.header__column--right header-actions {
    padding-block: 28px;
    padding-inline: 20px;
    border-left: 1.5px solid var(--color--border);
    border-right: 1.5px solid var(--color--border);
}

.header .header__columns {
    padding: 0 !important;
    align-items: center;
}

.header__column .header-logo {
    margin-top: -12px;
}

.header__column.header__column--right {
    gap: 20px;
}

search-button.search-action {
    padding-block: 24.5px;
    padding-left: 20px;
    border-left: 1.5px solid var(--color--border);
}
.header-drawer.header-drawer.header__drawer--mobile {
    margin-left: -16px;
}
.cart-icon__icon svg,
.account-button__icon svg{
    display: none;
}
/* ======================================== header css end ========================================= */

.block_custom_button {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.3px;
}

.second_hero_section {
    padding: 24px;
}

.block_custom_banner_secion .hero__content-wrapper .group-block-content {
    gap: 0;
}

.block_custom_banner_secion .block_custom_button {
    margin-top: 24px;
}

.product-card__content {
    padding-bottom: 0 !important;
}

.resource-list div.resource-list__carousel {
    padding-bottom: 24px;
}

.block__product_title * {
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}
product-price .price {
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.h_bottom_section strong {
    color: var(--deco--text--color);
    font-weight: 400;
}

.h_bottom_section .group-block-content {
    max-width: 630px;
}

.h_bottom_section .image-block {
    height: 100%;
}

email-signup-block.email-signup-block {
    max-width: 810px;
    width: 100%;
}

.email-signup-block .email-signup__input {
    padding: 20px 25px !important;
    box-shadow: none;
    border-bottom: 1px solid #1D1D1B !important;
    font-size: 13px !important;
}

.email-signup-block .email-signup__input::placeholder {
    color: #1D1D1B;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-size: 13px;
}

.email-signup-block .email-signup__button {
    position: unset !important;
    width: 200px !important;
    padding: 18px 36px !important;
}
.email-signup__input-group {
    align-items: center;
}
.email-signup-block .email-signup__button {
    position: unset!important;
    width: 200px!important;
    padding: 18px 36px!important;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    height: auto !important;
}

.footer-content {
    display: block !important;
}
.social_media_group .text-block p,
.shopify-section-group-footer-group li.menu__item a {
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.block__footer_bottom,
.block__footer_email_wrapper {
    position: relative;
}

.block__footer_bottom::after,
.block__footer_email_wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 1px;
    border-top: 1px solid rgba(29, 29, 27, 0.15);
}

.block__footer_email_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 1px;
    border-bottom: 1px solid rgba(29, 29, 27, 0.15);
}

.block__footer_bottom .text-block strong,
.block__footer_bottom .text-block {
    font-weight: 600;
    line-height: 1; 
    text-transform: uppercase;
}

.block__footer_bottom .text-block strong {
    opacity: 0.6;
}
.block__footer_bottom .text-block a {
    text-decoration: none !important;
}
.email-signup__input-group {
    gap: 10px;
}
.email-signup-block + .text-block *{
    font-weight: 500;
}

slideshow-slides[gutters*=start] {
    padding-inline-start: 24px !important;
    scroll-padding-inline-start: 24px !important;
}
p.menu-list__link-title {
    white-space: nowrap;
}


@media (max-width:1520px) {
    .group-block.h_text-with_image {
        padding-inline: 80px !important;
    }
}
@media (max-width:1420px) {
    .group-block.h_text-with_image {
        padding-inline: 60px !important;
    }
    .email-signup-block .email-signup__button {
        width: 180px!important;
    }
}

@media (max-width:1279px) {
    .menu-list__list-item .menu-list__link,
    .header__column--right header-actions {
        padding-block: 24px !important;
        padding-inline: 16px !important;
    }
    search-button.search-action {
        padding-block: 20.5px;
        padding-left: 16px;
    }
    .header__column.header__column--right {
        gap: 16px;
    }

    .header__column .header-logo {
        margin-top: -10px;
    }
    .header__columns .header__column.header__column--left {
        gap: 40px;
    }
    .menu-list__list-item:first-child .menu-list__link {
        padding-left: 40px !important;
    }
    .section-resource-list__header .group-block {
        padding-block: 50px !important;
    }
    .resource-list__carousel .resource-list__slide {
        --section-slide-width: calc( (105% - (var(--resource-list-column-gap) * (var(--column-count) - 1)) - var(--peek-next-slide-size)) / var(--column-count) ) !important;
    }
    .email-signup-block .email-signup__button,
    .block_custom_button.button {
        padding: 16px 32px !important;
    }
    .email-signup-block .email-signup__button {
        width: 170px!important;
    }
    .h_bottom_section .group-block-content {
        gap: 30px;
    }
}


@media (max-width:1180px) {
    .group-block.h_text-with_image {
        padding-inline: 40px!important;
        padding-block: 50px !important;
    }

    .h_text-with_image .text-block.custom-font-size p {
        font-size: 16px !important;
    }
}


@media (max-width:1023px) {
    .resource-list__carousel .resource-list__slide {
        --section-slide-width: calc( (110% - (var(--resource-list-column-gap) * (var(--column-count) - 1)) - var(--peek-next-slide-size)) / var(--column-count) ) !important;
    }
    header-actions {
        display: flex;
        gap: 14px;
    }
    .menu-list__list-item .menu-list__link {
        padding-inline: 7px!important;
    }
    .header__columns .header__column.header__column--left {
        gap: 30px;
    }
    .menu-list__list-item:first-child .menu-list__link {
        padding-left: 30px!important;
    }
    .header-logo__image {
        height: 30px !important;
        width: 190px !important;
    }
    .header__column.header__column--right {
        gap: 12px;
    }
    search-button.search-action {
        padding-block: 17.5px;
        padding-left: 12px;
    }
    .menu-list__list-item .menu-list__link, .header__column--right header-actions {
        padding-block: 21px !important;
        padding-inline: 12px !important;
    }
    .header__column .header-logo {
        margin-top: -8px;
    }
    .email-signup-block .email-signup__button,
    .block_custom_button.button {
        padding: 16px 28px !important;
    }
    .product_card_group .group-block-content {
        gap: 5px !important;
    }
    .email-signup-block .email-signup__button {
        width: 160px!important;
    }
}

@media (max-width:991px) {
    .resource-list__carousel .resource-list__slide {
        --section-slide-width: calc( (120% - (var(--resource-list-column-gap) * (var(--column-count) - 1)) - var(--peek-next-slide-size)) / var(--column-count) ) !important;
    }
}

@media (max-width:899px) {
    .header__columns .header__column.header__column--left {
        gap: 20px;
    }
    .menu-list__list-item:first-child .menu-list__link {
        padding-left: 20px!important;
    }
    .section-resource-list__header .group-block {
        padding-block: 40px!important;
    }
    .resource-list__carousel .resource-list__slide {
        --section-slide-width: calc( (142% - (var(--resource-list-column-gap) * (var(--column-count) - 1)) - var(--peek-next-slide-size)) / var(--column-count) ) !important;
    }
    .h_text-with_image .text-block.custom-font-size p {
        font-size: 14px !important;
    }
    .h_bottom_section .section-content-wrapper {
        flex-direction: column !important;
    }
    .group-block.h_text-with_image {
        width: 100%;
        padding-inline: 30px!important;
        padding-block: 40px !important;
    }
    .h_bottom_section .image-block {
        width: 100%;
    }
    .email-signup-block .email-signup__button {
        width: 150px!important;
    }
    .h_bottom_section .group-block-content {
        gap: 20px;
    }

}



@media (max-width:766px) {
    slideshow-slides[gutters*=start] {
        padding-inline-start: 10px!important;
        scroll-padding-inline-start: 10px!important;
    }
}

@media (max-width:749px) {
    search-button.search-action {
        display: block !important;
    }
    .header__column--left search-button.search-action {
        display: none !important;
    }
    .header__columns .header__column.header__column--left {
        gap: 16px;
    }
    .header__column .header-logo {
        margin-top: -4px;
    }
    .header-logo__image {
        height: 26px!important;
        width: 170px!important;
    }
    .section-resource-list__header .group-block {
        padding-block: 35px!important;
    }
    .email-signup-block .email-signup__button,
    .block_custom_button.button {
        padding: 14px 24px !important;
    }
}

@media (max-width:640px) {
    .custom_menu-list__link.contact_link ,
    search-button .menu-list__link-title {
        display: none;
    }
    .cart-icon__icon svg,
    .account-button__icon svg{
        display: block;
    }
    .cart-icon__icon,
    .account-button__icon{
        font-size: 0 !important;
    }
    .header__column--right header-actions {
        padding-left: 0 !important;
        border-left: none;
    }
    .header__column--right search-button .svg-wrapper,
    .header__column--right .header-actions__action svg {
        height: 24px;
        width: 24px;
    }
    search-button.search-action {
        padding-block: 21px;
    }
    .header__column--right header-actions {
        gap: 12px;
    }
    .resource-list__carousel .resource-list__slide {
        --slide-width: clamp(150px, 46cqw, var(--slide-width-max)) !important;
    }
    .section-resource-list__header .group-block {
        padding-block: 30px!important;
    }
    .email-signup-block .email-signup__button,
    .block_custom_button.button {
        padding: 14px 20px !important;
    }
    .group-block.h_text-with_image{
        padding-inline: 20px!important;
        padding-block: 30px !important;
    }
    .h_bottom_section .group-block-content {
        gap: 10px;
    }
    
}

@media (max-width:540px) {
    .resource-list__carousel .resource-list__slide {
        --slide-width: clamp(150px, 58cqw, var(--slide-width-max)) !important;
    }
    .section-resource-list__header .group-block {
        padding-block: 28px!important;
    }
}

@media (max-width:480px) {
    .header__column.header__column--right,
    header-actions {
        gap: 8px !important;
    }
    .header__columns .header__column.header__column--left {
        gap: 12px;
    }
    .resource-list__carousel .resource-list__slide {
        --slide-width: clamp(150px, 64cqw, var(--slide-width-max)) !important;
    }
}