@font-face {
  font-family: 'Sink';
  src: url('https://cdn.shopify.com/s/files/1/0991/1350/0955/files/Sink.otf?v=1769060439') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1,h2 {
    font-family: 'Sink', sans-serif !important;
    font-weight: 400 !important;
    line-height: .85 !important;
}

body, .menu-list__link, span, p, li , ul, a{

    font-family: "Onest", sans-serif !important;
}



/* ==================== header css start ===================== */
.menu-list__link .menu-list__link-title,
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
.cart-icon__text {
    text-align: center;
    font-weight: 600;
    line-height: 1;
}
.custom_menu-list__link .menu-list__link-title,
.account-button__text,
.cart-icon__text {
    text-transform: uppercase;
    margin: 0 !important;
}
.menu-list__list-item .menu-list__link {
    padding-block: 28px !important;
    padding-inline: 16px !important;
}

.menu-list__list-item:first-child .menu-list__link {
    padding-left: 48px !important;
    border-left: 1.5px solid var(--color--border);
    margin-left: 0 !important;
}

.header__columns .header__column.header__column--left {
    gap: 48px;
}

cart-drawer-component.cart-drawer {
    display: flex;
    align-items: center;
}

header-actions {
    display: flex;
    gap: 20px;
}

.header-actions__action {
    padding: 0 !important;
}

.header__column--right header-actions {
    padding-block: 28px;
    padding-inline: 20px;
    border-left: 1.5px solid var(--color--border);
    border-right: 1.5px solid var(--color--border);
}

.header .header__columns {
    padding: 0 !important;
    align-items: center;
}

.header__column .header-logo {
    margin-top: -12px;
}

.block_custom_button {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.3px;
}

.second_hero_section {
    padding: 24px;
}

.block_custom_banner_secion .hero__content-wrapper .group-block-content {
    gap: 0;
}

.block_custom_banner_secion .block_custom_button {
    margin-top: 24px;
}

.product-card__content {
    padding-bottom: 0 !important;
}

.resource-list div.resource-list__carousel {
    padding-bottom: 24px;
}

.block__product_title * {
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}
product-price .price {
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.h_bottom_section strong {
    color: var(--deco--text--color);
    font-weight: 400;
}

.h_bottom_section .group-block-content {
    max-width: 630px;
}

.h_bottom_section .image-block {
    height: 100%;
}

email-signup-block.email-signup-block {
    max-width: 810px;
    width: 100%;
}

.email-signup-block .email-signup__input {
    padding: 20px 25px !important;
    box-shadow: none;
    border-bottom: 1px solid #1D1D1B !important;
}

.email-signup-block .email-signup__input::placeholder {
    color: #1D1D1B;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.email-signup-block .email-signup__button {
    position: unset !important;
    width: 200px !important;
    padding: 18px 36px !important;
}
.email-signup__input-group {
    align-items: center;
}
.email-signup-block .email-signup__button {
    position: unset!important;
    width: 200px!important;
    padding: 18px 36px!important;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    height: auto !important;
}

.footer-content {
    display: block !important;
}
.social_media_group .text-block p,
.shopify-section-group-footer-group li.menu__item a {
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}
.block__footer_bottom,
.block__footer_email_wrapper {
    position: relative;
}

.block__footer_bottom::after,
.block__footer_email_wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 1px;
    border-top: 1px solid rgba(29, 29, 27, 0.15);
}

.block__footer_email_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 1px;
    border-bottom: 1px solid rgba(29, 29, 27, 0.15);
}

.block__footer_bottom .text-block strong,
.block__footer_bottom .text-block {
    font-weight: 600;
    line-height: 1; 
    text-transform: uppercase;
}

.block__footer_bottom .text-block strong {
    opacity: 0.6;
}
.block__footer_bottom .text-block a {
    text-decoration: none !important;
}
.email-signup__input-group {
    gap: 10px;
}
.email-signup-block + .text-block *{
    font-weight: 500;
}